<html>
    <body bgcolor="pink">
     <h1>Name: Indrani Sen</h1>
     <h1>Address: T4,1402,Lokhandwala,Mumbai</h2>
     <h3> email: indranisen2003@gmail.com</h3>
     <h3>website: technology.indrani-will-teach.com/blog</h3>
     <h2>You are looking at my resume</h2>
     {% load static %}
    <center><img src="{% static "images.jfif " %}" height="400" width="400" alt="My image"/></center>
     
    <h1><a href="experience/">Experience</a></h1>
    <h1><a href="my_education/">Education details</a></h1>
    </body>
</html>